#profile {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .card {
    .row.g-0 {
      #profile_img {
        display: flex;
        height: 75vh;

        img {
          margin: auto;
          border-radius: 8px;
          max-width: 80%;
          min-width: 60%;
          height: auto;
        }
      }

      .col-md-4 {
        display: flex;
        align-items: center;

        .tooltiptext {
          visibility: hidden;
          font-size: 25px;
          transform: translate(10px, -80px);
        }

        &:hover .tooltiptext {
          visibility: visible;
        }
      }
    }
  }
}

#changeBtn:hover {
  cursor: pointer;
}

#carPhoto {
  margin: auto;
  border-radius: 8px;
  max-width: 80%;
  min-width: 60%;
  height: auto;
}
